# 🐍 Python cache & compiled files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# 📦 Virtual environments
venv/
env/
.venv/

# 🧪 Jupyter Notebook checkpoints
.ipynb_checkpoints/

# 📊 Build / dist artifacts
out/
build/
dist/
*.egg-info/

# 📸 Diagrams & docs
# (разрешаем diagrams/ и assets/, чтобы README рендерил картинки)
!diagrams/
!assets/

# 🔐 Credentials / secrets
.env
*.env
.env.airflow
profiles.yml
dbt/.ci/.user.yml

# 🧪 Coverage / test artifacts
.coverage
htmlcov/
.pytest_cache/

# ⚙️ IDE & OS files
.DS_Store
.vscode/
.idea/
.mailmap

# 🚀 Docker / Compose logs & pids
*.log
*.pid

# 🪄 Airflow runtime folders
airflow/logs/
airflow/pg_data/

# 📦 dbt build artifacts
target/
dbt_packages/
dbt/package-lock.yml
dbt/logs/
dbt/target/

# 🧪 Temp & backup files
*.bak
*.swp
*.tmp

# 🧰 Local scripts (если не нужны в проде)
scripts/*

# 🪵 Local logs
.logs/